Repository DSA-solutions-the10xacademy/JavaScript-DSA-Solutions, pull requests merged in 2022-05, with the labels that each got.

#418 Control Flow - Dice
  solutions/control-flow/dice.js
Labels: 30-04-2022, Control Flow

#423 Control Flow - Abc Odd
  solutions/control-flow/abc-odd.js
Labels: 30-04-2022, Control Flow

#424 Control Flow - Product And Sum
  solutions/control-flow/product-and-sum.js
Labels: 30-04-2022, Control Flow

#310 Arrays - right to left diagonal
  solutions/arrays/right-to-left-diagonal.js
Labels: Arrays, 11-05-2022

#312 Arrays - len of last word
  solutions/arrays/len-of-last-word.js
Labels: Arrays, 11-05-2022

#314 Arrays - array leader
  solutions/arrays/array-leader.js
Labels: 22-03-2022, Arrays

#313 Arrays - rearrange array
  solutions/arrays/rearrange-array.js
Labels: Arrays, 11-05-2022
